#card_bg{
   padding:5px;
    width:248px;
    height:356px;
    background-color:aquamarine;
    border: solid 5px;
}
#photo_area{
    width:248px;
    height:248px;
    
    background-image: url("https://res.cloudinary.com/dyrxhwpv2/image/upload/v1730465541/ivmbqdwza0sf8x06p1me.jpg");
    background-size:cover;
    background-position: center;
    
}
#stats{
    margin-top:10px;
    border:5px;
    background-color: beige;
}
body{
    background-color:blueviolet;
}
#bob{
    width:500px;
    height:300px;
    margin-left:400px;
    background-color:blue;
    padding:15px;
    border:5px/ black;
    background-image: url("https://res.cloudinary.com/dyrxhwpv2/image/upload/v1730470338/wzquxwebjpqy5zg9iayr.jpg")

}
